h1 {
font-family: Courier New, monospace;
font-size: 32px;
color: #87CEEB;
text-align: center;
text-decoration: underline;
}

body {
font-family: Courier New, monospace;
background-color: #000000;
margin: 20px;
}

h2 {
font-family: Courier New, monospace;
font-size: 24px;
color: #E0FFFF;
}

p {
font-family: Courier New, monospace;
font-size: 16px;
color: #F0F8FF;
line-height: 1.5;
}

a {
font-family: Courier New, monospace;
color: #ADD8E6;
text-decoration: none;
}

a:hover {
color: #00BFFF;
text-decoration: underline;
}