h1 {
font-family: monospace;
font-size: 32px;
color: #87CEEB;
text-align: center;
text-decoration: underline;
}

body {
font-family: monospace;
background-color: #000000;
margin: 20px;
display: flex;
justify-content: center;
min-height: 100vh;
}

h2 {
font-family: monospace;
font-size: 24px;
color: #E0FFFF;
}

p {
font-family: monospace;
font-size: 16px;
color: #F0F8FF;
line-height: 1.5;
}

a {
font-family: monospace;
color: #ADD8E6;
text-decoration: none;
}

a:hover {
color: #00BFFF;
text-decoration: underline;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}