h1 {
font-family: "Times New Roman", serif;
font-size: 24px;
color: #000000;
background-color: #C0C0C0;
margin: 2px;
padding: 1px;
text-align: left;
}

body {
font-family: "Times New Roman", serif;
background-color: #0a0a8f;
margin: 4px;
color: #000000;
}

h2 {
font-family: "Times New Roman", serif;
font-size: 18px;
color: #000000;
margin: 3px 0;
}

p {
font-family: "Times New Roman", serif;
font-size: 15px;
color: #000000;
line-height: 1.0;
margin: 2px 0;
}

a {
font-family: "Times New Roman", serif;
color: #0000FF;
text-decoration: underline;
}

a:hover {
color: #FF0000;
text-decoration: underline;
}

main {
width: 95%;
margin: 0;
padding: 5px;
background-color: #FFFFFF;
border: 1px solid #000000;
}